/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        justify-content: flex-start;
    }

    .main-container {
        padding: 0;
    }

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    haeder nav a {
        padding: 15px 0;
        border-bottom: 2px solid var(--main-bg-color);
        border-top: none;
    }
    
    header nav a:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    /* Hero */
    .hero {
        padding: 0 20px;
        margin-top: 20px;
    }

    /* Search Bar */
    .search-input {
        flex-grow: 1;
        width: 100%;
    }
    
    .search-button span {
        display: none;
    }
    
    .search-button .mobile-icon {
        display: block;
    }
    .search-button i {
        display: block;
        font-size: large;
        color: white;
    }

    /* Filters */
    .filters {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filters h3 {
        width: 100%;
    }

    .filter-btn {
        flex: 1 1 calc(40% - 5px); /* Two columns, responsive */
        font-size: 14px;
        padding: 8px 5px;
    }

    .filter-btn i {
        font-size: 14px;
    }
    
    /* Info Bar */
    .info-bar {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    /* Main Sections */
    .hebergements-and-populaires {
        flex-direction: column-reverse; /* Important: Populaires section first */
        gap: 0;
        padding: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    .hebergements-and-populaires section.hebergements {
        background-color: white; /* No gray background */
    }

    /* Populaires */
    .populaires {
        width: 100%;
        padding-bottom: 0;
    }
    
    .populaires-cards .card {
        margin-top: 15px;
    }
    
    .populaires-cards .card-content {
        padding: 10px;
    }

    /* Hebergements */
    .hebergements {
        width: 100%;
    }

    .hebergements .title-left {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%; /* Full width */
    }
    
    /* Activités */
    .activites {
        padding: 20px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }
    
    .activites-cards .card-link {
        width: 100%;
    }
    
    .activites-cards .card img {
        height: 150px; /* Smaller image height */
    }

    /* Footer */
    footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer-column {
        padding: 0;
        margin-bottom: 20px;
    }

    .footer-column:last-child {
        margin-bottom: 0;
    }
}