/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        justify-content: flex-start;
    }

    .main-container {
        padding: 0;
    }

    /* Header */
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    header nav a {
        padding: 20px 0;
        border-top: none;
    }
    
    header nav a:hover {
        border-bottom: 2px solid var(--main-color);
    
    }
    
    /* Nav container */
header .nav-links {
    display: flex;
    width: 100%;
    position: relative;
}

/* La ligne grise continue sous toute la nav */
header .nav-links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--main-bg-color); /* gris */
}

/* Liens */
header .nav-links a {
    flex: 1;
    text-align: center;
    padding-bottom: 15px;

    border-bottom: 3px solid transparent; /* Invisible par défaut */
    position: relative;
    z-index: 1; /*Passe au-dessus de la ligne grise */
}

/* Au survol, la partie sous le lien devient bleue */
header .nav-links a:hover {
    border-bottom-color: var(--main-color);
}

    /* Hero */

    .hero {
        padding: 0 20px;
        margin-top: 20px;
    }

    /* Search Bar */

    .search-input {
        flex-grow: 1;
        width: 100%;
    }
    
    .search-button span {
        display: none;
    }
    
    .search-button .mobile-icon {
        display: block;
    }
    .search-button i {
        display: block;
        font-size: large;
        color: white;
    }

    /* Filters */

    .filters {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filters h3 {
        width: 100%;
    }

    .filter-btn {
        width: calc(50% - 10px); /* 2 par ligne avec un petit espace */
        font-size: 12px;
        padding: 8px 5px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .filter-btn i {
        font-size: 14px;
    }
    
    /* Info Bar */
    .info-bar {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    /* Main Sections */

    .hebergements-and-populaires {
        flex-direction: column-reverse; /* Important: Populaires section first */
        gap: 0;
        padding: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    .hebergements-and-populaires section.hebergements {
        background-color: white;
    }

    /* Populaires */
    .populaires {
        width: 100%;
        padding-bottom: 0;
    }
    
    .populaires-cards .card {
        margin-top: 15px;
    }
    
    .populaires-cards .card-content {
        padding: 10px;
    }
    .populaires-cards img {
        height: 100%;
    }

    /* Hebergements */

    .hebergements {
        width: 100%;
    }

    .hebergements .title-left {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }
    
    /* Activités */
    .activites {
        padding: 20px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }
    
    .activites-cards .card-link {
        width: 100%;
    }
    
    .activites-cards .card img {
        height: 150px; 
    }

    /* Footer */
    footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer-column {
        padding: 0;
        margin-bottom: 20px;
    }

    .footer-column:last-child {
        margin-bottom: 0;
    }
}